@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu-Regular.ttf");
}

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding: 0 15%;
}

/* SCROLL BAR
==============================================================================*/
/* scroll */
::-webkit-scrollbar {
  width: 5px;
}

/* track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* handle*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5e8b5e;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

/* NAVBAR
==============================================================================*/
/* Navbar */
.aa-nav {
  text-align: right;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  overflow: hidden;
  background: #5e8b5e;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
  z-index: 998;
  -webkit-transition: top 900ms;
  transition: top 900ms;
}

/* Logo image */
.aa-nav-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  display: inline;
  padding-left: 8%;
  text-decoration: none;
  color: #fff;
}

.aa-nav-icon img {
  height: 45px;
}

.aa-nav-icon span {
  position: absolute;
  top: 13px;
  padding-left: 10px;
  font-size: 22px;
}

/* Nav items */
.aa-nav-items {
  margin: 0;
  line-height: 65px;
  list-style: none;
  padding-right: 8%;
}

.aa-nav-items li {
  display: inline-block;
}

.aa-nav-items li:hover {
  background-color: #81aa81;
}

.aa-nav-items li a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
}

.down-nav-bar {
  position: absolute;
  padding-top: 20px;
}

.dropdown-content {
  position: fixed;
  background-color: #cecece;
  display: none;
  width: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content ul li a {
  display: block;
  margin: 0;
  padding: 0px 40px;
  text-decoration: none;
  color: black;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown-content ul li a:hover {
  background-color: #81aa81;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* responsive navbar */
@media screen and (max-width: 500px) {
  .aa-hamburger-menu {
    display: block;
  }
  .aa-nav-items {
    display: none;
  }
}

/* HEADER
==============================================================================*/
.header {
  background-image: url("../img/photo1.jpg");
  background-size: cover;
  width: 100%;
  height: 110vh;
}

.header-content {
  padding-top: 170px;
  color: #fff;
}

.header-content h1 {
  font-size: 70px;
  letter-spacing: 10px;
}

.header-content p {
  font-size: 18px;
  margin: 10px 0;
}

.header-content h5 {
  margin-top: 160px;
  font-size: 22px;
}

.header-content span {
  margin-left: 40px;
  font-size: 30px;
}

.wave-header img {
  width: 100%;
  height: 250px;
  margin-top: -330px;
}

/* ABOUT ME
==============================================================================*/
.subtitle h3 {
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 22px;
  color: #a1a1a1;
}

.subtitle h2 {
  padding-left: 10px;
  border-left: 5px solid #5e8b5e;
  margin: 8px 0;
  font-size: 26px;
}

.home-about {
  margin-top: 70px;
}

.home-about-content {
  margin: 30px 0;
  width: 100%;
  display: table;
}

.home-about-content-l {
  width: 50%;
  text-align: justify;
  float: left;
}

.home-about-content-l p {
  font-size: 20px;
}

.home-about-content-r {
  width: 40%;
  float: right;
}

.home-about-content-r img {
  width: 450px;
  margin-top: -150px;
}

/* GAP
==============================================================================*/
.home-gap {
  width: 100%;
  height: 550px;
  background-image: url("../img/photo7.jpg");
  background-size: cover;
  background-position: center;
}

.wave-gap img {
  width: 100%;
  height: 220px;
  position: absolute;
}

.home-gap-content {
  position: absolute;
  padding-top: 185px;
  width: 100%;
}

.h-g-content-dess {
  text-align: center;
  color: white;
}

.h-g-content-dess img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.h-g-content-dess h4 {
  padding: 0 25%;
}

.h-g-content-dess h4 span {
  font-size: 30px;
}

.h-g-content-dess p {
  margin-top: 50px;
}

/* DESTINATION
==============================================================================*/
.home-destination {
  padding: 70px 0;
}

.h-desti-content {
  margin: 60px 0;
}

.h-desti-content a {
  text-decoration: none;
}

.h-desti-wrap-content {
  margin-top: 50px;
}

.h-desti-content-up {
  width: 100%;
  display: block;
}

.h-desti-content-up a {
  text-decoration: none;
}

.h-d-c-up-dess {
  width: 28%;
  height: 400px;
  margin: 20px;
  display: inline-block;
  color: white;
  background-size: cover;
  background-position: center;
  border: 1px solid #acaaaa;
}

.h-d-c-up-dess:hover {
  -webkit-box-shadow: 1px 1px 10px 0px #272727;
          box-shadow: 1px 1px 10px 0px #272727;
}

.h-d-c-up-dess:hover div {
  margin-top: 214px;
}

.h-d-c-up-dess:hover div h2 {
  padding-bottom: 100px;
}

.h-d-c-up-dess:hover div p {
  font-size: 16px;
}

.h-d-c-up-dess:hover div p span {
  font-size: 14px;
  padding-left: 25px;
}

.h-d-c-up-dess div {
  margin-top: 294px;
  padding: 20px 0 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.h-d-c-up-dess div h2 {
  padding-bottom: 20px;
  font-size: 26px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.h-d-c-up-dess div p {
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.h-d-c-up-dess div p span {
  font-size: 12px;
  padding-left: 3px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.h-d-c-up-dess-1 {
  background-image: url("../img/kelingking.jpg");
}

.h-d-c-up-dess-2 {
  background-image: url("../img/angel.jpg");
}

.h-d-c-up-dess-3 {
  background-image: url("../img/broken.jpg");
}

.h-d-c-up-dess-4 {
  background-image: url("../img/tembeling.jpg");
}

.h-d-c-up-dess-5 {
  background-image: url("../img/manta.jpg");
}

.h-d-c-up-dess-6 {
  background-image: url("../img/teletubis.jpg");
}

/* FOOTER
==============================================================================*/
.wave-footer img {
  position: absolute;
  width: 100%;
  height: 150px;
}

.footer {
  width: 100%;
  height: 350px;
  background-color: #272727;
  display: block;
}

.footer-content {
  padding-top: 130px;
}

.footer-l {
  width: 32.33333%;
  display: inline-block;
}

.footer-l h2 {
  color: #5e8b5e;
  margin-bottom: 20px;
}

.footer-l ul li {
  color: #fff;
  padding: 5px 0;
}

.footer-l ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-c {
  display: inline-block;
  width: 33.333333%;
}

.footer-c h2 {
  color: #5e8b5e;
  padding-bottom: 20px;
}

.footer-c ul li {
  color: #fff;
  padding: 3px 0;
}

.footer-c ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-r {
  display: inline-block;
  width: 33.333333%;
}

.footer-r h2 {
  color: #5e8b5e;
  margin-bottom: 20px;
}

.footer-r h2:nth-child(even) {
  margin-top: 20px;
}

.footer-r p {
  color: #fff;
  padding: 5px 0;
}

.footer-r h3 span {
  color: #fff;
  font-size: 22px;
  padding: 0 10px;
}

.dark-footer {
  width: 100%;
  height: 55px;
  background-color: #5e8b5e;
  -webkit-box-shadow: 0px 2px 10px 0px black;
          box-shadow: 0px 2px 10px 0px black;
}

.dark-footer p {
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* HEADER 2 (HEADER FOR CONTENT) AND ANY CONTENT ITEM
==============================================================================*/
.header-content-2 {
  text-align: center;
  padding-top: 150px;
}

.header-content-2 h5 {
  margin-top: 70px;
}

.header-content-2 span {
  margin: 0;
}

.wave-header-2 img {
  margin-top: -400px;
  width: 100%;
  height: 250px;
}

.header-2 {
  background-size: cover;
  width: 100%;
  height: 600px;
}

.subtitle-for-comment {
  margin-top: 60px !important;
}

.comment-form {
  display: block;
}

.comment-form input, .comment-form textarea {
  width: 98%;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #81aa81;
  background-color: #f0f0f0;
}

.comment-form input:focus, .comment-form textarea:focus {
  border-bottom: 5px solid #5e8b5e;
  outline: none;
}

.comment-form button {
  background-color: #81aa81;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.comment-form button:hover {
  background-color: #5e8b5e;
}

.comment-form button:hover span {
  padding-left: 15px;
}

.comment-form button span {
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.comment-content table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  color: #fff;
}

.comment-content table tr:nth-child(even) {
  background-color: #dfdfdf;
  color: #000;
}

.comment-content table tr:nth-child(odd) {
  background-color: #81aa81;
  color: #fff;
}

.comment-content table tr td {
  padding: 15px 10px;
}

.comment-content table tr td:nth-child(1) {
  width: 100px;
}

.comment-content table tr td img {
  width: 50px;
}

.comment-content table tr td h5 {
  font-weight: 100;
  margin-bottom: 10px;
}

/* ==============================================================================
WHY
==============================================================================*/
.header-why {
  background-image: url("../img/why.jpg");
  background-position-y: top;
  background-size: cover;
}

.why-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.why-head-dess p {
  font-size: 18px;
  text-align: justify;
}

/* ==============================================================================
KELINGKING BEACH
==============================================================================*/
.header-kelingking {
  background-image: url("../img/kelingking-2.jpg");
  background-size: cover;
  background-position-y: bottom;
}

.kelingking-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.kelingking-head-dess .kelingking-head-dess-1 {
  width: 45%;
  float: left;
}

.kelingking-head-dess .kelingking-head-dess-1 p {
  font-size: 18px;
  text-align: justify;
}

.kelingking-head-dess .kelingking-head-dess-2 {
  width: 45%;
  float: right;
}

.kelingking-head-dess .kelingking-head-dess-2 .img-kelingking-1 {
  position: relative;
  width: 100%;
  height: 440px;
}

.kelingking-head-dess .kelingking-head-dess-2 .img-map-kelingking {
  position: relative;
  height: 150px;
  margin-top: -70px;
  margin-left: -100px;
}

.kelingking-but-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.kelingking-but-dess .kelingking-but-dess-1 {
  width: 40%;
  float: left;
}

.kelingking-but-dess .kelingking-but-dess-1 .img-kelingking-2 {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.kelingking-but-dess .kelingking-but-dess-2 {
  width: 50%;
  float: right;
}

.kelingking-but-dess .kelingking-but-dess-2 p {
  text-align: justify;
  font-size: 18px;
}

.subtitle-2-for-kelingking {
  margin-top: 20px !important;
}

/* ==============================================================================
BOLLABONG
==============================================================================*/
.header-billabong {
  background-image: url("../img/angel-head.jpg");
  background-size: cover;
  background-position-y: center;
}

.billabong-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.billabong-head-dess .billabong-head-dess-1 {
  width: 45%;
  float: left;
}

.billabong-head-dess .billabong-head-dess-1 p {
  font-size: 18px;
  text-align: justify;
}

.billabong-head-dess .billabong-head-dess-2 {
  width: 45%;
  float: right;
}

.billabong-head-dess .billabong-head-dess-2 .img-billabong-1 {
  position: relative;
  width: 100%;
  height: 350px;
}

.billabong-head-dess .billabong-head-dess-2 .img-map-billabong {
  position: relative;
  height: 150px;
  margin-top: -70px;
  margin-left: -100px;
}

.billabong-but-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.billabong-but-dess .billabong-but-dess-1 {
  width: 40%;
  float: left;
}

.billabong-but-dess .billabong-but-dess-1 .img-billabong-2 {
  width: 100%;
  position: relative;
  padding-top: 20px;
}

.billabong-but-dess .billabong-but-dess-2 {
  width: 50%;
  float: right;
}

.billabong-but-dess .billabong-but-dess-2 p {
  text-align: justify;
  font-size: 18px;
}

.subtitle-2-for-billabong {
  margin-top: 20px !important;
}

/* ==============================================================================
BROKEN BEACH
==============================================================================*/
.header-broken {
  background-image: url("../img/broken-head.jpg");
  background-size: cover;
  background-position-y: top;
}

.broken-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.broken-head-dess .broken-head-dess-1 {
  width: 45%;
  float: left;
}

.broken-head-dess .broken-head-dess-1 p {
  font-size: 18px;
  text-align: justify;
}

.broken-head-dess .broken-head-dess-2 {
  width: 45%;
  float: right;
}

.broken-head-dess .broken-head-dess-2 .img-broken-1 {
  position: relative;
  width: 100%;
  height: 360px;
}

.broken-head-dess .broken-head-dess-2 .img-map-broken {
  position: relative;
  height: 150px;
  margin-top: -70px;
  margin-left: -100px;
}

.broken-but-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.broken-but-dess .broken-but-dess-1 {
  width: 40%;
  float: left;
}

.broken-but-dess .broken-but-dess-1 .img-broken-2 {
  width: 100%;
  position: relative;
  height: 360px;
}

.broken-but-dess .broken-but-dess-2 {
  width: 50%;
  float: right;
}

.broken-but-dess .broken-but-dess-2 p {
  text-align: justify;
  font-size: 18px;
}

.subtitle-2-for-broken {
  margin-top: 20px !important;
}

/* ==============================================================================
TEMBELING
==============================================================================*/
.header-tembeling {
  background-image: url("../img/tembeling-head.jpg");
  background-size: cover;
  background-position-y: center;
}

.tembeling-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.tembeling-head-dess .tembeling-head-dess-1 {
  width: 45%;
  float: left;
}

.tembeling-head-dess .tembeling-head-dess-1 p {
  font-size: 18px;
  text-align: justify;
}

.tembeling-head-dess .tembeling-head-dess-2 {
  width: 45%;
  float: right;
}

.tembeling-head-dess .tembeling-head-dess-2 .img-tembeling-1 {
  position: relative;
  width: 100%;
  height: 300px;
}

.tembeling-head-dess .tembeling-head-dess-2 .img-map-tembeling {
  position: relative;
  height: 150px;
  margin-top: -70px;
  margin-left: -100px;
}

.tembeling-but-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.tembeling-but-dess .tembeling-but-dess-1 {
  width: 45%;
  float: left;
}

.tembeling-but-dess .tembeling-but-dess-1 .img-tembeling-2 {
  width: 100%;
  position: relative;
  height: 310px;
}

.tembeling-but-dess .tembeling-but-dess-2 {
  width: 45%;
  float: right;
}

.tembeling-but-dess .tembeling-but-dess-2 p {
  text-align: justify;
  font-size: 18px;
}

.subtitle-2-for-tembeling {
  margin-top: 20px !important;
}

/* ==============================================================================
MANTA BAY
==============================================================================*/
.header-manta {
  background-image: url("../img/photo7.jpg");
  background-position-y: bottom;
}

.manta-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.manta-head-dess .manta-head-dess-1 {
  width: 45%;
  float: left;
}

.manta-head-dess .manta-head-dess-1 p {
  font-size: 18px;
  text-align: justify;
}

.manta-head-dess .manta-head-dess-2 {
  width: 45%;
  float: right;
}

.manta-head-dess .manta-head-dess-2 .img-manta-1 {
  position: relative;
  width: 100%;
  height: 300px;
}

.manta-head-dess .manta-head-dess-2 .img-map-manta {
  position: relative;
  height: 150px;
  margin-top: -70px;
  margin-left: -100px;
}

.manta-but-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.manta-but-dess .manta-but-dess-1 {
  width: 45%;
  float: left;
}

.manta-but-dess .manta-but-dess-1 .img-manta-2 {
  width: 100%;
  position: relative;
  height: 400px;
}

.manta-but-dess .manta-but-dess-2 {
  width: 45%;
  float: right;
}

.manta-but-dess .manta-but-dess-2 p {
  text-align: justify;
  font-size: 18px;
}

.subtitle-2-for-manta {
  margin-top: 20px !important;
}

/* ==============================================================================
TELETUBBIES HILL
==============================================================================*/
.header-hill {
  background-image: url("../img/hill-head.jpg");
  background-size: cover;
  background-position-y: top;
}

.hill-head-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.hill-head-dess .hill-head-dess-1 {
  width: 45%;
  float: left;
}

.hill-head-dess .hill-head-dess-1 p {
  font-size: 18px;
  text-align: justify;
}

.hill-head-dess .hill-head-dess-2 {
  width: 45%;
  float: right;
}

.hill-head-dess .hill-head-dess-2 .img-hill-1 {
  position: relative;
  width: 100%;
  height: 300px;
}

.hill-head-dess .hill-head-dess-2 .img-map-hill {
  position: relative;
  height: 150px;
  margin-top: -70px;
  margin-left: -100px;
}

.hill-but-dess {
  width: 100%;
  display: table;
  padding: 20px;
}

.hill-but-dess .hill-but-dess-1 {
  width: 45%;
  float: left;
}

.hill-but-dess .hill-but-dess-1 .img-hill-2 {
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.hill-but-dess .hill-but-dess-2 {
  width: 45%;
  float: right;
}

.hill-but-dess .hill-but-dess-2 p {
  text-align: justify;
  font-size: 18px;
}

.subtitle-2-for-hill {
  margin-top: 20px !important;
}

/* ==============================================================================
TIPS
==============================================================================*/
.header-tips {
  background-image: url("../img/trips.png");
}

.tips-content {
  margin-top: 40px;
  width: 100%;
}

.tips-content h1 {
  font-size: 22px;
  width: 70%;
  color: #5f5f5f;
  margin-bottom: 40px;
}

.tips-content div h2 {
  font-size: 22px;
  padding: 40px 0 10px 0;
}

.tips-content div h2 span {
  color: #5e8b5e;
}

.tips-content div p {
  font-size: 20px;
  text-align: justify;
}

/* ==============================================================================
ABOUT US
==============================================================================*/
.header-aboutus {
  background-image: url("../img/team2.jpg");
  background-position-y: bottom;
  background-size: cover;
}

.about-us-quo {
  width: 70%;
  padding: 40px 0 50px 0;
  font-size: 22px;
  color: #a1a1a1;
}

.about-us-hr {
  margin: 40px 0;
  border: 0.8px solid #5e8b5e;
  background-color: #5e8b5e;
}

.about-us {
  width: 100%;
}

.about-us .about-us-sosial {
  display: inline-block;
  padding: 20px 0;
  vertical-align: top;
}

.about-us .about-us-sosial a {
  text-decoration: none;
  color: #000;
}

.about-us .about-us-sosial a:nth-child(1) {
  color: #fb3958;
}

.about-us .about-us-sosial a:nth-child(2) {
  color: #3b5998;
}

.about-us .about-us-sosial a:nth-child(3) {
  color: #1da1f2;
}

.about-us .about-us-sosial a div {
  padding: 10px 0;
}

.about-us .about-us-img {
  display: inline-block;
  padding: 0 20px;
}

.about-us .about-us-img img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.about-us .about-us-dess {
  display: inline-block;
  vertical-align: top;
}

.about-us .about-us-dess h1 {
  font-size: 20px;
}

.about-us .about-us-dess h2 {
  font-size: 20px;
}

.about-us .about-us-dess h3 {
  margin-top: 15px;
  font-size: 16px;
  color: #5e8b5e;
}

.about-us .about-us-dess p {
  font-size: 16px;
  color: #5f5f5f;
  padding-top: 5px;
}

.about-us .about-us-dess-1 {
  text-align: left;
}

.about-us .about-us-dess-2 {
  text-align: right;
}
/*# sourceMappingURL=master.css.map */