$warna :rgb(94, 139, 94);
$warna2 : rgb(129, 170, 129);


@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-Regular.ttf");
  }
*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    padding: 0 15%;
}


/* SCROLL BAR
==============================================================================*/
/* scroll */
::-webkit-scrollbar {
    width: 5px;
}
/* track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* handle*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $warna;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4);
}

/* NAVBAR
==============================================================================*/
/* Navbar */
.aa-nav {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    overflow: hidden;
    background: $warna;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .15);
    z-index: 998;
    transition: top 900ms;
}

/* Logo image */
.aa-nav-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    display: inline;
    padding-left: 8%;
    text-decoration: none;
    color: #fff;
    img{
        height: 45px;
    }
    span{
        position: absolute;
        top: 13px;
        padding-left: 10px;
        font-size: 22px;
    }
}

/* Nav items */
.aa-nav-items {
    margin: 0;
    line-height: 65px;
    list-style: none;
    padding-right: 8%;
    li {
        display:inline-block;  
        &:hover{
            background-color: $warna2;
        }
        a{
            text-decoration: none;
            display: block;
            font-size: 14px;
            color: #fff;   
            padding: 0 20px;
        }
    }
}
.down-nav-bar{
    position: absolute;
    padding-top: 20px;
}
// dropdown
.dropdown{
    a{
        margin-right: 20px;
    }
}
.dropdown-content{
    position: fixed;
    background-color: rgb(206, 206, 206);
    display: none;
    width: 200px;
    transition: 1s;
    ul{
        padding: 0;
        margin: 0;
        li{
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                display: block;
                margin: 0;
                padding: 0px 40px;
                text-decoration: none;
                color: black;
                text-align: left;
                transition: 0.3s;
                &:hover{
                    background-color: $warna2;
                    color: #fff;
                }
            }
        }
    }
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* responsive navbar */
@media screen and (max-width: 500px) {
    .aa-hamburger-menu {
        display: block;
    }
    .aa-nav-items {
        display: none;
    }
}

/* HEADER
==============================================================================*/
.header{
    background-image: url('../img/photo1.jpg');
    background-size: cover; 
    width: 100%;
    height: 110vh;
}
.header-content{
    padding-top: 170px;  
    color: #fff;
    h1{
        font-size: 70px;
        letter-spacing: 10px;
    }
    p{
        font-size: 18px;
        margin: 10px 0;
    }
    h5{
        margin-top: 160px;
        font-size: 22px;
    }
    i{
        margin-left: 40px;
        font-size: 40px;
    }
}
.wave-header{
    img{
        width: 100%;
        height: 250px;
        margin-top: -330px;
    }
}

/* ABOUT ME
==============================================================================*/
.subtitle{
    h3{
        font-weight: 100;
        letter-spacing: 3px;
        font-size: 22px;
        color: rgb(161, 161, 161)
    }
    h2{
        padding-left: 10px;
        border-left: 5px solid $warna;
        margin: 8px 0;
        font-size: 26px;
    }
}
.home-about{
    margin-top: 70px;
}
.home-about-content{
    margin: 30px 0;
    width: 100%;
    display: table;
}
.home-about-content-l{
    width: 50%;
    text-align: justify;
    float: left;
    p{
        font-size: 20px;
    }
}
.home-about-content-r{
    width: 40%;
    float: right;
}

/* GAP
==============================================================================*/
.home-gap{
    width: 100%;
    height: 550px;
    background-image: url('../img/photo4.jpg');
    background-size: cover;
    background-position: center;
}
.wave-gap{
    img{
        width: 100%;
        height: 220px;
        position: absolute;
    }
}