@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu-Regular.ttf");
}

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding: 0 15%;
}

/* SCROLL BAR
==============================================================================*/
/* scroll */
::-webkit-scrollbar {
  width: 5px;
}

/* track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* handle*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5e8b5e;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

/* NAVBAR
==============================================================================*/
/* Navbar */
.aa-nav {
  text-align: right;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  overflow: hidden;
  background: #5e8b5e;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
  z-index: 998;
  -webkit-transition: top 900ms;
  transition: top 900ms;
}

/* Logo image */
.aa-nav-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  display: inline;
  padding-left: 8%;
  text-decoration: none;
  color: #fff;
}

.aa-nav-icon img {
  height: 45px;
}

.aa-nav-icon span {
  position: absolute;
  top: 13px;
  padding-left: 10px;
  font-size: 22px;
}

/* Nav items */
.aa-nav-items {
  margin: 0;
  line-height: 65px;
  list-style: none;
  padding-right: 8%;
}

.aa-nav-items li {
  display: inline-block;
}

.aa-nav-items li:hover {
  background-color: #81aa81;
}

.aa-nav-items li a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
}

.down-nav-bar {
  position: absolute;
  padding-top: 20px;
}

.dropdown a {
  margin-right: 20px;
}

.dropdown-content {
  position: fixed;
  background-color: #cecece;
  display: none;
  width: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content ul li a {
  display: block;
  margin: 0;
  padding: 0px 40px;
  text-decoration: none;
  color: black;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown-content ul li a:hover {
  background-color: #81aa81;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* responsive navbar */
@media screen and (max-width: 500px) {
  .aa-hamburger-menu {
    display: block;
  }
  .aa-nav-items {
    display: none;
  }
}

/* HEADER
==============================================================================*/
.header {
  background-image: url("../img/photo1.jpg");
  background-size: cover;
  width: 100%;
  height: 110vh;
}

.header-content {
  padding-top: 170px;
  color: #fff;
}

.header-content h1 {
  font-size: 70px;
  letter-spacing: 10px;
}

.header-content p {
  font-size: 18px;
  margin: 10px 0;
}

.header-content h5 {
  margin-top: 160px;
  font-size: 22px;
}

.header-content i {
  margin-left: 40px;
  font-size: 40px;
}

.wave-header img {
  width: 100%;
  height: 250px;
  margin-top: -330px;
}
/*# sourceMappingURL=master.css.map */