$warna :rgb(94, 139, 94);
$warna2 : rgb(129, 170, 129);


@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-Regular.ttf");
  }
*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    padding: 0 15%;
}


/* SCROLL BAR
==============================================================================*/
/* scroll */
::-webkit-scrollbar {
    width: 5px;
}
/* track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* handle*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $warna;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4);
}

/* NAVBAR
==============================================================================*/
/* Navbar */
.aa-nav {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    overflow: hidden;
    background: $warna;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .15);
    z-index: 998;
    transition: top 900ms;
}

/* Logo image */
.aa-nav-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    display: inline;
    padding-left: 8%;
    text-decoration: none;
    color: #fff;
    img{
        height: 45px;
    }
    span{
        position: absolute;
        top: 13px;
        padding-left: 10px;
        font-size: 22px;
    }
}

/* Nav items */
.aa-nav-items {
    margin: 0;
    line-height: 65px;
    list-style: none;
    padding-right: 8%;
    li {
        display:inline-block;  
        &:hover{
            background-color: $warna2;
        }
        a{
            text-decoration: none;
            display: block;
            font-size: 14px;
            color: #fff;   
            padding: 0 20px;
        }
    }
}
.down-nav-bar{
    position: absolute;
    padding-top: 20px;
}
// dropdown
.dropdown-content{
    position: fixed;
    background-color: rgb(206, 206, 206);
    display: none;
    width: 200px;
    transition: 1s;
    ul{
        padding: 0;
        margin: 0;
        li{
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                display: block;
                margin: 0;
                padding: 0px 40px;
                text-decoration: none;
                color: black;
                text-align: left;
                transition: 0.3s;
                &:hover{
                    background-color: $warna2;
                    color: #fff;
                }
            }
        }
    }
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* responsive navbar */
@media screen and (max-width: 500px) {
    .aa-hamburger-menu {
        display: block;
    }
    .aa-nav-items {
        display: none;
    }
}

/* HEADER
==============================================================================*/
.header{
    background-image: url('../img/photo1.jpg');
    background-size: cover; 
    width: 100%;
    height: 110vh;
}
.header-content{
    padding-top: 170px;  
    color: #fff;
    h1{
        font-size: 70px;
        letter-spacing: 10px;
    }
    p{
        font-size: 18px;
        margin: 10px 0;
    }
    h5{
        margin-top: 160px;
        font-size: 22px;
    }
    span{
        margin-left: 40px;
        font-size: 30px;
    }
}
.wave-header{
    img{
        width: 100%;
        height: 250px;
        margin-top: -330px;
    }
}

/* ABOUT ME
==============================================================================*/
.subtitle{
    h3{
        font-weight: 100;
        letter-spacing: 3px;
        font-size: 22px;
        color: rgb(161, 161, 161)
    }
    h2{
        padding-left: 10px;
        border-left: 5px solid $warna;
        margin: 8px 0;
        font-size: 26px;
    }
}
.home-about{
    margin-top: 70px;
}
.home-about-content{
    margin: 30px 0;
    width: 100%;
    display: table;
}
.home-about-content-l{
    width: 50%;
    text-align: justify;
    float: left;
    p{
        font-size: 20px;
    }
}
.home-about-content-r{
    width: 40%;
    float: right;
    img{
        width: 450px;
        margin-top: -150px;
    }
}

/* GAP
==============================================================================*/
.home-gap{
    width: 100%;
    height: 550px;
    background-image: url('../img/photo7.jpg');
    background-size: cover;
    background-position: center;
}
.wave-gap{
    img{
        width: 100%;
        height: 220px;
        position: absolute;
    }
}
.home-gap-content{
    position: absolute;
    padding-top: 185px;
    width: 100%;
}
.h-g-content-dess{
    text-align: center;
    color: white;
    img{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin-bottom: 40px;
    }
    h4{
        padding: 0 25%;
        span{
            font-size: 30px;
        }
    }
    p{
        margin-top: 50px;
    }
}


/* DESTINATION
==============================================================================*/
.home-destination{
    padding: 70px 0;
}
.h-desti-content{
    margin: 60px 0;
    a{
        text-decoration: none;
    }
}
.h-desti-wrap-content{
    margin-top: 50px;
}
.h-desti-content-up{
    width: 100%;
    display: block;
    a{
        text-decoration: none;
    }
}
.h-d-c-up-dess{
    width: 28%;
    height: 400px;
    margin: 20px;
    display: inline-block;
    color: white;
    background-size: cover;
    background-position: center;
    border: 1px solid #acaaaa;
    &:hover{
        box-shadow: 1px 1px 10px 0px #272727;
        div{
            margin-top: 214px;
            h2{
                padding-bottom: 100px;
            }
            p{
                font-size: 16px;
                span{
                    font-size: 14px;
                    padding-left: 25px;
                }
            }
        }
    }
    div{
        margin-top: 294px;
        padding: 20px 0 20px 10px;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s;
        h2{
            padding-bottom: 20px;
            font-size: 26px;
            transition: 0.5s;
        }
        p{
            font-size: 14px;
            transition: 0.5s;
            span{
                font-size: 12px;
                padding-left: 3px;
                transition: 0.7s;
            }
        }
    }
}
.h-d-c-up-dess-1{
    background-image: url("../img/kelingking.jpg");
}
.h-d-c-up-dess-2{
    background-image: url("../img/angel.jpg");
}
.h-d-c-up-dess-3{
    background-image: url("../img/broken.jpg");
}
.h-d-c-up-dess-4{
    background-image: url("../img/tembeling.jpg");
}
.h-d-c-up-dess-5{
    background-image: url("../img/manta.jpg");
}
.h-d-c-up-dess-6{
    background-image: url("../img/teletubis.jpg");
}

/* FOOTER
==============================================================================*/
.wave-footer{
    img{
        position: absolute;
        width: 100%;
        height: 150px;
    } 
}
.footer{
    width: 100%;
    height: 350px;
    background-color: #272727;
    display: block;
}
.footer-content{
    padding-top: 130px;
}
.footer-l{
    width: 32.33333%;
    display: inline-block;
    h2{
        color: $warna;
        margin-bottom: 20px; 
    }
    ul{
        li{
            color: #fff;
            padding: 5px 0;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.footer-c{
    display: inline-block;
    width: 33.333333%;
    h2{
        color: $warna;
        padding-bottom: 20px;
    }
    ul{
        li{
            color: #fff;
            padding: 3px 0;
            a{
                text-decoration: none;
                color: #fff
            }
        }
    }
}
.footer-r{
    display: inline-block;
    width: 33.333333%;
    h2{
        color: $warna;
        margin-bottom: 20px;
        &:nth-child(even){
            margin-top: 20px;
        }
    }
    p{
        color: #fff;
        padding: 5px 0;
    }
    h3{
        span{
            color: #fff;
            font-size: 22px;
            padding: 0 10px;
        }
    }
}
.dark-footer{
    width: 100%;
    height: 55px;
    background-color: $warna;
    box-shadow: 0px 2px 10px 0px black;
    p{
        color: #fff;
        text-align: center;
        padding-top: 20px;
    }
}

/* HEADER 2 (HEADER FOR CONTENT) AND ANY CONTENT ITEM
==============================================================================*/
// header
.header-content-2{
    text-align: center;
    padding-top: 150px;
    h5{
        margin-top: 70px;
    }
    span{
        margin: 0;
    }
}
.wave-header-2{
    img{
        margin-top: -400px;
        width: 100%;
        height: 250px;
    }   
}
.header-2{
    background-size: cover; 
    width: 100%;
    height: 600px;
}

// coment
.subtitle-for-comment{
    margin-top: 60px !important;
}
.comment-form {
    display: block;
    input,textarea {
        width: 98%;
        margin: 10px 0;
        padding: 10px;
        border: 0;
        border-bottom: 2px solid $warna2;
        background-color: #f0f0f0;
        &:focus {
            border-bottom: 5px solid $warna;
            outline: none;
        }
    }

    button {
        background-color: $warna2;
        width: 100%;
        border: none;
        padding: 20px 0;
        font-size: 18px;
        cursor: pointer;
        color: #fff;
        transition: 0.3s;
        &:hover {
            background-color: $warna;
            span {
                padding-left: 15px;
            }
        }
        span {
            font-size: 16px;
            transition: 0.5s;
        }
    }
}
.comment-content{
    table{
        width: 100%;
        margin-top: 50px;
        border-collapse: collapse;
        color: #fff;
        tr{
            &:nth-child(even){
                background-color: #dfdfdf;
                color: #000;
            }
            &:nth-child(odd){
                background-color: $warna2;
                color: #fff;
            }
            td{ 
                padding: 15px 10px;
                img{
                   width: 50px;
               }
               h5{
                   font-weight: 100;
                   margin-bottom: 10px;
               }
            }
        }
    }
}

/* ==============================================================================
KELINGKING BEACH
==============================================================================*/
.kelingking-head-dess{
    width: 100%;
    display: table;
    padding: 20px;
    .kelingking-head-dess-1{
        width: 40%;
        float: left;
        p{
            font-size: 18px;
            text-align: justify;
        }
    }
}


/* ==============================================================================
BROKEN BEACH
==============================================================================*/
.broken-head-dess{
    width: 100%;
    display: table;
    padding: 20px;
    .broken-head-dess-1{
        width: 45%;
        float: left;
        p{
            font-size: 18px;
            text-align: justify;
        }
    }
    .broken-head-dess-2{
        width: 45%;
        float: right;
        .img-broken-1{
            position: relative;
            width: 100%;
            // height: 300px;
        }
        .img-map-broken{
            position: relative;
            height: 150px;
            margin-top: -70px;
            margin-left: -100px;
        }
    }
}
.broken-but-dess{
    width: 100%;
    display: table;
    padding: 20px;
    .broken-but-dess-1{
        width: 40%;
        float: left;
        .img-broken-2{
            width: 100%;
            position: relative;
            height: 360px;
        }
    }
    .broken-but-dess-2{
        width: 50%;
        float: right;
        p{
            text-align: justify;
            font-size: 18px;
        }
    }
}

/* ==============================================================================
TEMBELING
==============================================================================*/
.tembeling-head-dess{
    width: 100%;
    display: table;
    padding: 20px;
    .tembeling-head-dess-1{
        width: 45%;
        float: left;
        p{
            font-size: 18px;
            text-align: justify;
        }
    }
    .tembeling-head-dess-2{
        width: 45%;
        float: right;
        .img-tembeling-1{
            position: relative;
            width: 100%;
            height: 300px;
        }
        .img-map-tembeling{
            position: relative;
            height: 150px;
            margin-top: -70px;
            margin-left: -100px;
        }
    }
}
.tembeling-but-dess{
    width: 100%;
    display: table;
    padding: 20px;
    .tembeling-but-dess-1{
        width: 45%;
        float: left;
        .img-tembeling-2{
            width: 100%;
            position: relative;
            height: 310px;
        }
    }
    .tembeling-but-dess-2{
        width: 45%;
        float: right;
        p{
            text-align: justify;
            font-size: 18px;
        }
    }
}
.subtitle-2-for-tembeling{
    margin-top: 20px !important;
}

/* ==============================================================================
MANTA BAY
==============================================================================*/
.header-manta{
    background-image: url("../img/photo7.jpg");
    background-position-y: bottom;
}
.manta-head-dess{
    width: 100%;
    display: table;
    .manta-head-dess-1{
        width: 50%;
        float: left;
        p{
            font-size: 18px;
            text-align: justify;
            padding-top: 20px;  
        }
    }
    .manta-head-dess-2{
        width: 40%;
        float: right;
        img{
            width: 80%;
            //margin
            position: absolute;
        }
    }
}
.subtitle-manta-danger{
    margin-top: 120px;
}


/* ==============================================================================
TIPS
==============================================================================*/

.header-tips{
    background-image: url('../img/trips.png');
    
}

/* ==============================================================================
ABOUT US
==============================================================================*/
.header-aboutus{
    background-image: url("../img/team2.jpg");
    background-position-y: bottom;
    background-size: cover;
}
.about-us-quo{
    width: 70%;
    padding: 40px 0 50px 0;
    font-size: 22px;
    color: rgb(161, 161, 161);
}
.about-us-hr{
    margin: 40px 0;
    border: 0.8px solid $warna;
}
.about-us{
    width: 100%;
    .about-us-sosial{
        display: inline-block;
        padding: 20px 0;
        vertical-align: top;
        a{
            text-decoration: none;
            color: #000;
            &:nth-child(1){
                color: #fb3958;
            }
            &:nth-child(2){
                color: #3b5998 ;
            }
            &:nth-child(3){
                color:  #1da1f2;    
            }
            div{
                padding: 10px 0;
            }
        }
    }
    .about-us-img{
        display: inline-block;
        padding: 0 20px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 150px;
        }
    }
    .about-us-dess{
        display: inline-block;
        vertical-align: top;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 20px;
        }
        h3{
            margin-top: 15px;
            font-size: 16px;
            color: $warna;
        }
        p{
            font-size: 16px;
            color: rgb(95, 95, 95);
        }
    }
    .about-us-dess-1{      
        text-align: left
    }
    .about-us-dess-2{
        text-align: right;
    }
}